<a href="https://colab.research.google.com/github/jh-wisdom/Python/blob/main/%EC%BD%94%EB%93%9C%EC%97%85%EC%BD%94%EB%94%A9%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[실행 관련 단축키]

1. Ctrl + Enter = 해당 셀을 실행하고 커서를 해당 셀에 두는 경우 (결과 값만 보고자 할 때)

2. Shift + Enter = 해당 셀을 실행하고 커서를 다음 셀로 넘기는 경우 (여러가지 값을 빠르게 출력할 때)

3. Alt + Enter = 해당 셀을 실행하고 셀을 삽입한 후 커서를 삽입한 셀로 넘기는 경우 (다음 작업 공간이 없을 때)

 

 

[셀 삽입/삭제 관련 단축키]

Ctrl + M A = 코드 셀 위에 삽입

Ctrl + M B = 코드 셀 아래 삽입

Ctrl + M D = 셀 지우기

Ctrl + M Y = 코드 셀로 변경

Ctrl + M M = 마크다운 셀로 변경

Ctrl + M Z = 실행 취소

Ctrl + F9 = 노트의 모든 셀 실행

15번
공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

예시
a, b = input().split()
print(a)
print(b)
과 같은 방법으로 두 정수를 입력받아 출력할 수 있다.

참고
python의 input()은 한 줄 단위로 입력을 받는다.
input().split() 를 사용하면, 공백을 기준으로 입력된 값들을 나누어(split) 자른다.
a, b = 1, 2
를 실행하면, a에는 1 b에는 2가 저장된다.
(주의 : 하지만, 다른 일반적인 프로그래밍언어에서는 이러한 방법을 지원하지 않기 때문에 a=1, b=2 를 한 번에 하나씩 따로 실행시켜야 한다.)

In [ ]:
a, b = input().split()
print(a)
print(b)

1 23
1
23

18번 24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

예시
a, b = input().split(':')
print(a, b, sep=':')
와 같은 방법으로 가능하다.

참고
input().split(':') 를 사용하면 콜론 ':' 기호를 기준으로 자른다.
print(?, ?, sep=':') 를 사용하면 콜론 ':' 기호를 사이에 두고 값을 출력한다.
sep 는 분류기호(seperator)를 의미한다.

In [ ]:

a, b = input().split(':')
print(a, b, sep=':')

12:24
12:24

In [ ]:
#"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

y,m,d=input().split('.')
print(d,m,y,sep='-')

12.2.5
5-2-12

In [1]:
#주민번호 앞 6자리와 뒷 7자리가 '-'로 구분되어 입력받고 13자리 붙여서 출력한다.
a,b=input().split('-')
print(a+b)

120123-1000000
1201231000000

In [2]:
#6자리의 연월일(YYMMDD)을 입력받아 2자리씩 나누어 출력해보자.
#s[a:b] 라고 하면, s라는 단어에서 a번째 문자부터 b-1번째 문자까지 잘라낸 부분을 의미한다.

s=input()
print(s[0:2])
print(s[2:4])
print(s[4:6])

120123
12
01
23

In [ ]:
# 두 단어 입력받아 붙여서 출력

a,b=input().split()
print(a+b)

참고
단어는 문자(character)들로 만든다.
문자들로 구성된 문장을 문자열(string)이라고 부른다.
문자열에는 공백문자(' ')가 포함될 수 있는데, 
문자 1개는 길이가 1인 문자열이라고 할 수 있고, 공백문자(' ')가 없는 문자열은 단어(word)라고 할 수 있다.

일반적인 문장들은 공백으로 구분된 단어들로 만들어지기 때문에,
공백문자로 구분된 문장에서 단어를 잘라내기 위해서는 공백문자(' ')를 기준으로 자르면 된다.
키보드로 입력되는 것들은 기본적으로 문자열로 인식되고, 문자열끼리 더하기(+)를 실행하면,
두 문자열을 합쳐 연결한(concatenate) 결과를 만들어 낸다.

In [3]:
#10진수를 입력받아 16진수(hexadecimal)로 출력
a=int(input())
print('%x'%a)

255
ff

In [4]:
#16진수 입력받아 8진수(octal)로 출력
a=int(input(),16)
print('%o'%a)

ab
253

#영문자 1개를 입력받아 10진수 유니코드(Unicode) 값으로 출력
n = ord(input())
print(n)

In [11]:
#영문자 1개를 입력받아 그 다음 문자 출력
n=ord(input())
print(chr(n+1))

a
b

In [12]:
a,b=input().split()
print(int(a)+int(b))

1 2
3

In [14]:
# 단어와 반복횟수 입력받아 여러번 출력
a,n = input().split()
print(a*int(n))

abc 5
abcabcabcabcabc

In [15]:
n,s=input().split()
print(int(n)*s)

2 dkjkjkjkjk
dkjkjkjkjkdkjkjkjkjk

In [19]:
# 두 수 입력해서 몫// 나머지% 구하기
a,b=input().split()
print(int(a)//int(b))

25 3
8

In [20]:
# 실수 입력받아 소수 2번째자리까지 반올림
a=float(input())
print(format(a,".2f"))

23.5689
23.57

In [22]:
f1,f2=input().split()
a=float(f1)/float(f2)
print(format(a,".4f"))

12.45 23.56
0.5284

In [25]:
#정수 2개(a, b)를 입력받아 합, 차, 곱, 몫, 나머지, 나눈 값을 자동으로 계산해보자. 
#단 0 <= a, b <= 2147483647, b는 0이 아니다.
a,b=input().split()

print(int(a)+int(b))
print(int(a)-int(b))
print(int(a)*int(b))
print(int(a)//int(b))
print(int(a)%int(b))
print(format(int(a)/int(b),'.2f'))

23 8
31
15
184
2
7
2.88

In [26]:
#합계 평균
a,b,c = input().split()

sum=int(a)+int(b)+int(c)
ave =sum/3
print(sum,format(ave,'.2f'))

85 90 56
231 77.00

In [27]:
# 정수*2
n=int(input())
print(n<<1)

8
16

*2 를 계산한 값을 출력해도 되지만,
정수를 2배로 곱하거나 나누어 계산해 주는 비트단위시프트연산자 <<, >>를 이용할 수 있다.
컴퓨터 내부에는 2진수 형태로 값들이 저장되기 때문에,
2진수 형태로 저장되어 있는 값들을 왼쪽(<<)이나 오른쪽(>>)으로
지정한 비트 수만큼 밀어주면 2배씩 늘어나거나 1/2로 줄어드는데,

왼쪽 비트시프트(<<)가 될 때에는 오른쪽에 0이 주어진 개수만큼 추가되고,
오른쪽 비트시프트(>>)가 될 때에는 왼쪽에 0(0 또는 양의 정수인 경우)이나 1(음의 정수인 경우)이 개수만큼 추가되고,
가장 오른쪽에 있는 1비트는 사라진다.

예시
n = 10
print(n<<1)  #10을 2배 한 값인 20 이 출력된다.
print(n>>1)  #10을 반으로 나눈 값인 5 가 출력된다.
print(n<<2)  #10을 4배 한 값인 40 이 출력된다.
print(n>>2)  #10을 반으로 나눈 후 다시 반으로 나눈 값인 2 가 출력된다.

정수 10의 2진수 표현은 ... 1010 이다.
10 << 1 을 계산하면 ... 10100 이 된다 이 값은 10진수로 20이다.
10 >> 1 을 계산하면 ... 101 이 된다. 이 값은 10진수로 5이다.

n = 10 과 같이 키보드로 입력받지 않고 직접 작성해 넣은 코드에서, 숫자로 시작하는 단어(식별자, identifier)는 자동으로 수로 인식된다.  

n = 10 에서 10 은 10진수 정수 값으로 인식된다.
변수 n 에 문자열을 저장하고 싶다면, n = "10" 또는 n = '10'으로 작성해 넣으면 되고,

n = 10.0 으로 작성해 넣으면 자동으로 실수 값으로 저장된다.
n = 0o10 으로 작성해 넣으면 8진수(octal) 10으로 인식되어 10진수 8값이 저장되고,
n = 0xf 나 n = 0XF 으로 작성해 넣으면 16진수(hexadecimal) F로 인식되어 10진수 15값으로 저장된다.

** python에서 실수 값에 대한 비트시프트 연산은 허용되지 않고 오류가 발생한다.
(실수 값도 컴퓨터 내부적으로는 2진수 형태로 저장되고 비트시프트 처리가 될 수 있지만, python 에서는 허용하지 않는다.)

In [31]:
#a의 b승배 2 10 => 2*1024
a,b=input().split()
print(int(a)<<int(b))

2 10
2048

In [32]:
a,b=input().split()

if int(a)<int(b) :
    print("True")
else :
    print("False")

123
456
True

어떤 값을 비교하기 위해 비교/관계(comparison/relational) 연산자(operator)를 사용할 수 있다.

비교/관계연산자 < (less than sign) 는
왼쪽의 값이 오른쪽 값 보다 작은 경우 True(참)로 계산하고,
그 외의 경우에는 False(거짓)로 계산한다.

비교/관계연산자도 일반적인 사칙연산자처럼 주어진 두 수를 이용해 계산을 수행하고,
그 결과를 True(참), 또는 False(거짓)로 계산해 주는 연산자이다.

비교/관계연산자는 <, >, <=, >=, ==(같다), !=(다르다) 6개가 있다.

True(참) 또는 False(거짓) 값으로만 표현하고 저장하는 값을 불(bool)/불리언(boolean) 값이라고 한다.
정수, 실수, 문자, 문자열과 마찬가지로 또 다른 형태의 데이터형(data type)이다.

In [40]:
#정수가 입력되었을 때, True/False 로 평가해주는 프로그램
n = int(input())
print(bool(n))

2
True

In [41]:
a,b=input().split()
print(bool(int(a)) and bool(int(b)) )

5 6
True

and 예약어는 주어진 두 불 값이 모두 True 일 때에만 True 로 계산하고, 나머지 경우는 False 로 계산한다.
이러한 논리연산을 AND 연산(boolean AND)이라고도 부르고, · 으로 표시하거나 생략하며, 집합 기호 ∩(교집합, intersection)로 표시하기도 한다. 
모두 같은 의미이다.

참, 거짓의 논리값 인 불(boolean) 값을 다루어주는 예약어는 not, and, or 이 있고,
불 값들 사이의 논리(not, and, or) 연산 결과도 마찬가지로 True 또는 False 의 불 값으로 계산된다.

** 불 대수(boolean algebra)는 수학자 불이 만들어낸 것으로 True(참)/False(거짓) 값만 가지는 논리값과 그 값들 사이의 연산을 다룬다.

In [43]:
a,b=input().split()

c=bool(int(a))
d=bool(int(b))

print((c and (not d)) or ((not c) and d))

5 9
False

참 거짓이 서로 다를 때에만 True 로 계산하는 논리연산을 XOR(exclusive or, 배타적 논리합) 연산이라고도 부른다.

논리연산자는 사칙(+, -, *, /) 연산자와 마찬가지로 여러 번 중복해서 사용할 수 있는데, 
사칙 연산자와 마찬가지로 계산 순서를 표시하기 위해 괄호 ( )를 사용할 수 있다.
괄호를 사용하면 계산 순서를 명확하게 표현할 수 있다.

수학 식에서는 소괄호 (), 중괄호 {}, 대괄호 []를 사용하기도 하지만, 프로그래밍언어에서는 소괄호 ( ) 만 사용한다.

In [ ]:
a,b=input().split()

c=bool(int(a))
d=bool(int(b))

print(((not c) and (not d)) or (c and d))

입력 된 정수를 비트단위로 참/거짓을 바꾼 후 정수로 출력해보자.
비트단위(bitwise)연산자 ~ 를 붙이면 된다.(~ : tilde, 틸드라고 읽는다.)

** 비트단위(bitwise) 연산자는,
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)
가 있다.

예를 들어 1이 입력되었을 때 저장되는 1을 32비트 2진수로 표현하면
        00000000 00000000 00000000 00000001 이고,
~1은 11111111 11111111 11111111 11111110 가 되는데 이는 -2를 의미한다.

In [44]:
a = 1
print(~a)

-2

In [49]:
# &연산자
a,b=input().split()

c=int(a)
d=int(b)

print(c & d)

12 5
4

In [ ]:
#3항 연산자
a,b=input().split()

a=int(a)
b=int(b)

c=(a if(a>=b) else b)
print(int(c))

3개의 요소로 이루어지는 3항 연산은
"x if C else y" 의 형태로 작성이 된다.
- C : True 또는 False 를 평가할 조건식(conditional expression) 또는 값
- x : C의 평가 결과가 True 일 때 사용할 값
- y : C의 평가 결과가 True 가 아닐 때 사용할 값

조건식 또는 값이 True 이면 x 값이 사용되고, True가 아니면 y 값이 사용되도록 하는 코드

In [50]:
# a b c 중 가장 작은값을 출력하는 3항 연산자
a,b,c = input().split()

a=int(a)
b=int(b)
c=int(c)

print((a if a<b else b) if ((a if a<b else b)<c) else c)

2 -3 5
-3

In [51]:
# 음수짝수A, 음수홀수B, 양수짝수C, 양수홀수D
n = int(input())

if (a<0) and (a%2==0) :
    print('A')
elif (a<0) and (a%2!=0) :
    print('B')
elif (a>=0) and (a%2==0) :
    print('C')
elif (a>=0) and (a%2!=0) :
    print('D')

-568
C

In [52]:
n = int(input())

if n>=90 :
    print('A')
elif n>=70 :
    print('B')
elif n>=40 :
    print('C')
elif n>=0 :
    print('D')

85
B

In [ ]:
# 1~12월 입력하면 해당 계정 출력
# 12, 1, 2 : winter,   3, 4, 5 : spring   6, 7, 8 : summer   9, 10, 11 : fall

n = int(input())

if n//3 == 1:
    print('spring')
elif n//3 == 2:
    print('summer')
elif n//3 == 3
    print('fall')
else :
    print('winter')

In [53]:
# 입력된 정수를 줄을 바꿔 하나씩 출력하는데, 0이 입력되면 종료
n = 1
while n != 0 :
    n= int(input())
    if n !=0 :
        print(n)

5
5
5
5
8
8
7
7
0

In [55]:
n = int(input())

while n != 0 :
    print(n)
    n-=1

8
8
7
6
5
4
3
2
1