<a href="https://colab.research.google.com/github/jh-wisdom/Python/blob/main/%EC%BD%94%EB%93%9C%EC%97%852%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
c = ord(input())
t = ord('a')

while t <=c :
    print(chr(t), end ='')
    t+=1

f
abcdef

알파벳 문자 a의 정수값은 ord('a')로 알아낼 수 있다.
chr(정수값)을 이용하면 유니코드 문자로 출력할 수 있다.
print(..., end=' ') 와 같이 작성하면 값 출력 후 공백문자 ' '를 출력한다. 즉, 마지막에 줄을 바꾸지 않고 빈칸만 띄운다.
(end='\n'로 작성하거나 생략하면, 값을 출력한 후 마지막(end)에 줄바꿈(newline)이 된다.)

In [4]:
n = int(input())
a=0
while a != n+1 :
    print(a,end='\n')
    a+=1

5
0
1
2
3
4
5

In [6]:
n= int(input())

for i in range(n+1) :
    print(i,end='\n')

8
0
1
2
3
4
5
6
7
8

ange(n) 은 0, 1, 2, ... , n-2, n-1 까지의 수열을 의미한다.
예를 들어 range(3) 은 0, 1, 2 인 수열을 의미한다.

for i in range(n) :    #range(n)에 들어있는(in) 각각의 수에 대해서(for) 순서대로 i에 저장해 가면서...
이때의 for는 각각의 값에 대하여... 라는 for each 의 의미를 가진다고 생각할 수 있다.

range(끝)
range(시작, 끝)
range(시작, 끝, 증감)
형태로 수열을 표현할 수 있다. 시작 수는 포함이고, 끝 수는 포함되지 않는다. [시작, 끝)
증감할 수를 작성하지 않으면 +1이 된다.

반복 실행구조에 반복 횟수를 기록/저장하는 변수로 i를 자주 사용하는데,
i 는 반복자(iterator)를 나타내는 i라고 생각할 수 있다. i, j, k ... 알파벳 순으로 사용하기도 한다.

In [7]:
# 입력받은 수 중 짝수의 합 출력
n=int(input())
sum =0

for i in range(1,n+1) :
    if i%2 == 0:
        sum+=i
print(sum)

8
20

In [18]:
#영문 소문자 'q'가 입력될 때까지 입력한 문자를 계속 출력
c = ord(input())

while c != ord('q') :
    print(chr(c))
    c = ord(input())

d
d
e
e
q

In [35]:
# 1,2,3... 더하다 그 합이 입력받은 수 보다 같거나 작을때 출력
n = int(input())
i=0
sum=0
while sum<=n :
    i+=1
    sum+=i
print(i)

5
3

In [37]:
n,m = input().split()
n=int(n)
m=int(m)

for i in range(1,n+1) :
    for j in range(1, m+1) :
        print(i,j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [49]:
# 16진수 입력받아 구구단 출력

n=int(input(),16)

for i in range(1,16) :
    print('%X*%X=%X' %(n,i,n*i))
#print('%X'%n, '*%X'%i, '=%X'%(n*i), sep='')

b
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [59]:
# 3 6 9 게임
n = int(input())

for i in range(1,n+1) :
    if i % 10 ==3 :
        print('X', end=' ')
    elif i % 10 ==6 :
        print('X', end=' ')
    elif i % 10 ==9 :
        print('X', end=' ')      
    else :
        print(i, end=' ')

5
1 2 X 4 5

In [66]:
# rgb 코드 숫자를 받아 경우의 수 구하기
r,g,b = input().split()
r = int(r)
g = int(g)
b = int(b)
count =0
for i in range(r) :
    for j in range(g) :
        for k in range(b) :
            print(i,j,k,end='\n') 
            count+=1
print(count)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

1초 동안 마이크로 소리강약을 체크하는 횟수를 h
(헤르쯔, Hz 는 1초에 몇 번? 체크하는가를 의미한다.)

한 번 체크한 값을 저장할 때 사용하는 비트수를 b
(2비트를 사용하면 0 또는 1 두 가지, 16비트를 사용하면 65536가지..)

좌우 등 소리를 저장할 트랙 개수인 채널 개수를 c
(모노는 1개, 스테레오는 2개의 트랙으로 저장함을 의미한다.)

녹음할 시간(초) s가 주어질 때,

필요한 저장 용량을 계산하는 프로그램을 작성해보자.

실제로, 일반적인 CD 음질(44.1KHz, 16bit, 스테레오)로 1초 동안 저장하려면
44100 * 16 * 2 * 1 bit의 저장공간이 필요한데,
44100*16*2*1/8/1024/1024 로 계산하면 약 0.168 MB 정도가 필요하다.

이렇게 녹음하는 방식을 PCM(Pulse Code Modulation) 방법이라고 하는데,
압축하지 않은 순수한(raw) 소리 데이터 파일은 대표적으로 *.wav 가 있다.

**
      8 bit(비트)           = 1byte(바이트)       # 8bit=1Byte
1024 Byte(210 byte) = 1KB(킬로 바이트)  # 1024Byte=1KB
1024 KB(210 KB)      = 1MB(메가 바이트)
1024 MB(210 MB)     = 1GB(기가 바이트)
1024 GB(210 GB)      = 1TB(테라 바이트)

In [71]:
# 소리가 컴퓨터에 저장되는 용량 구하기
# 

h,b,c,s = input().split()
h = int(h)
b = int(b)
c = int(c)
s = int(s)

sum = h*b*c*s/8/1024/1024
print(format(sum,'.1f'),'MB')

44100 16 2 10
1.7 MB

In [72]:
w,h,b = input().split()
w=int(w)
h=int(h)
b=int(b)
sum = 0

sum = w*h*b/8/1024/1024
print(format(sum,'.2f'),'MB')

1024 768 24
2.2 MB

In [77]:
n=int(input())
i=0
sum=0
while sum<n :
    sum += i
    i += 1
    
print(sum)

57
66

In [79]:
# 3의 배수 출력 안함
n = int(input())

for i in range(1,n+1):
    if i % 3 !=0 :
        print(i, end=' ')

10
1 2 4 5 7 8 10

In [87]:
# 등차수열 시작값a 등차값b 몇번째수n n번째 수는?
a,d,n = map(int,input().split())
count =1

while(count < n) :
    a=a+d
    count+=1
print(a)

1 3 5
13

In [88]:
# 등비수열 시작 값(a), 등비(r), 몇 번째정수(n)가 입력될 때 n번째 수?
a,r,n = map(int,input().split())
count =1

while(count < n) :
    a=a*r
    count+=1
print(a)

2 3 7
1458

In [89]:
# 시작 값(a), 곱할 값(m), 더할 값(d), 몇 번째(n)가 입력될 때,n번째 수는?
a,m,d,n = map(int,input().split())
count =1

while(count < n) :
    a=a*m+d
    count+=1
print(a)

1 -2 1 8
-85

In [90]:
#a,b,c 서로 다른 수 만큼 증가하다 만나는 값?
a,b,c=map(int,input().split())
day=1

while day%a!=0 or day%b!=0 or day%c!=0 :
    day+=1
print(day)

3 7 9
63

In [92]:
# 랜덤출석 n번 부르고, 해당번호가 몇번 불렸는지 출력
n= int(input())
a = input().split()

d=[]
for i in range(24) :
    d.append(0)

for i in range(n) :
    a[i] = int(a[i])
    d[a[i]]+=1
    
for j in range(1,24) :
    print(d[j],end=' ')

5
1 22 22 21 5
1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 2 0

In [95]:
n= int(input())
a = input().split()


for i in range(n) :
    a[i] = int(a[i])

for j in range(n-1,-1,-1) :
    print(a[j],end=' ')

3
12 22 23
23 22 12

In [104]:
# 여러개의 수 입력해서 제일 작은 수 출력
n = int(input())
a = input().split()

for i in range(n) :
    a[i] = int(a[i])

min = a[0]
for i in range(0,n) :
    if min > a[i] :
        min = a[i]

print(min)

3
12 8 11
8

In [111]:
# 바둑 둔 곳에 1 출력
# 배열 초기화 = 0 입력
on=[]
for i in range(20) :
    on.append([])
    for j in range(20) :
        on[i].append(0)

# 입력받은 위치에 1 입력
n = int(input())
for i in range(n) :
    a,b = input().split()
    on[int(a)][int(b)] =1

# 배열 전체 출력
for i in range(1,20) :
    for j in range(1,20) :
        print(on[i][j], end=' ')
    print()

3
1 1
2 1
3 3
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

d=[]
for i in range(20) : 
  d.append([])
  for j in range(20) :  
    d[i].append(0)
... 

위와 같이, 모두 0이 채워진 2차원 리스트를 만드는 코드를 아래와 같은 방법으로 짧게 만들 수도 있다.
... [0 for j in range(20)]  #20개의 0이 들어간 [0, 0, 0, ... , 0, 0, 0] 리스트 
아래처럼 작성하면 위와 같은 리스트가 20개가 들어간 리스트를 한 번에 만들어 준다.

d = [[0 for j in range(20)] for i in range(20)]

이러한 리스트 생성 방식을 List Comprehensions 라고 한다.

In [129]:
d=[] 
for i in range(20) : 
    d.append([]) 
    for j in range(20) : 
        d[i].append(0) 
        
for i in range(19): 
   a = input().split()
   for j in range(19):
       d[i+1][j+1]=int(a[j])


n = int(input()) 
for i in range(n) :
  x,y=map(int,input().split())
  for j in range(1, 20) :
    if d[j][y]==0 :
      d[j][y]=1
    else :
      d[j][y]=0

    if d[x][j]==0 :
      d[x][j]=1
    else :
      d[x][j]=0

for i in range(1,20) :
    for j in range(1,20) :
        print(d[i][j], end=' ')
    print()

0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
2
10 10
12 12
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [131]:
# 격자판의 세로h 가로w 막대개수n개
h,w = map(int,input().split())
n = int(input())

#격자판배열 0 초기화
pan=[]
for i in range(h) :
    pan.append([])
    for j in range(w) :
        pan[i].append(0)

for i in range(n) :
    # 막대길이=ㅣ 막대방향=d 막대놓는 좌표(x,y)
    l,d,x,y = map(int,input().split())
    # 막대를 가로로 놓을 경우
    if(d == 0) :
        for j in range(l):
            pan[x-1][y-1+j] = 1
    # 막대를 세로로 놓을 경우
    else :
        for j in range(l) :
            pan[x-1+j][y-1] = 1
# 격자판 출력
for i in range(h) :
    for j in range(w) :
        print(pan[i][j],end=' ')
    print()

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
1 1 0 0 0
0 0 1 0 1
0 0 1 0 1
0 0 1 0 1
0 0 0 0 1

In [1]:
# 미로에서 물건(2) 찾기


bo=[]
# 미로 배열 정수값 입력받아 값 넣기
for i in range(10) :
    bo.append(list(map(int, input().split())))

# (x,y) 값 초기화
x,y = 1,1

while True :
    # 물건이 있으면 지나가는 값 9로 변경 후 break
    if bo[x][y]==2 :
        bo[x][y]=9
        break
    # 값이 1은 벽이므로, 벽이 아니면 값 9로 변경후 아래쪽 전진
    if bo[x][y+1]!=1 :
        bo[x][y]=9
        y+=1
    else :
    # 값이 1은 벽이므로, 벽이 아니면 값 9로 변경후 오른쪽 전진    
        if bo[x+1][y] !=1 :
            bo[x][y] = 9
            x+=1
    # 이미 지나간 자리이면 break
        else :
            bo[x][y]=9
            break   

# 미로배열 출력
for i in range(10) :
    for j in range(10) :
        print(bo[i][j],end=' ')
    print()

1 1 1 1 1 1 1 1 1 1
1 0 0 1 0 0 0 0 0 1
1 0 0 1 1 1 0 0 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 1 0 1 0 1
1 0 0 0 0 1 2 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 1 0 0 0 0 0 1
1 0 9 1 1 1 0 0 0 1
1 0 9 9 9 9 9 1 0 1
1 0 0 0 0 0 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1